<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/itz___harshrajput/" style="color: inherit;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/harsh-singh-5b5a0b256/" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/h4rshgithub" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>